<h3>Votre annonce a été désactivé.</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre annonce de {{ type }} vient d'être refusé par nos administrateurs.

Bien cordialement.
<a href="{{ urlSite }}">{{ urlSite }}</a>