<h3>Refus de paiement de votre annonce de {{ type }}.</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

L'annonce de {{ type }} à refuser un paiement.

Rendez-vous sur <a href="{{ url }}">Votre annonce</a>

Bien cordialement.
<a href="{{ urlSite }}">{{ urlSite }}</a>