<h3>Paiement de votre annonce de {{ type }}.</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre paiement de {{ type }} à été accepter.

Rendez-vous sur <a href="{{ url }}">L'annonce</a>

Bien cordialement.
<a href="{{ urlSite }}">{{ urlSite }}</a>