<h3>Nouveau devis proposé.</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre annonce de {{ type }} à obtenus un nouveau devis.

Rendez-vous sur <a href="{{ url }}">Votre annonce</a>

Bien cordialement.
<a href="{{ urlSite }}">{{ urlSite }}</a>