<h3>Votre réservation a été annuler sur l'annonce de {{ type }}</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre réservation a été annuler sur <a href="{{ url }}">ce lien</a>

<a href="{{ url }}">{{ url }}</a>

Merci !