<h3>Votre annonce de {{ type }} a reçu une nouvelle réservation</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre annonce à reçu une nouvelle réservation sur <a href="{{ url }}">ce lien</a>

<a href="{{ url }}">{{ url }}</a>

Merci !