<h3>Votre annonce a été validés.</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Votre nouvelle annonce vient d'être validées.

Vous pouvez la retrouver en suivant le lien ci-dssous 

<a href="{{ url }}">{{ url }}</a>

Bien cordialement.
<a href="{{ urlSite }}">{{ urlSite }}</a>