<h3>Nouvelle réservation sur votre annonce de {{ type }}</h3>

Bonjour {{ user.prenom }} {{ user.nom }}

Une nouvelle réservation doit être valider en suivant <a href="{{ url }}">ce lien</a>

<a href="{{ url }}">{{ url }}</a>

Merci !