{% extends "::base.html.twig" %}

{% block title %}Annonce de taxi{% endblock %}


{% block angular %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/application/js/Controllers/taxiCtrl.js') }}"></script>
{% endblock %}


{% block body %}
<!-- CONTENT -->
    <div class="inscription_form modal_connexion_container creer_annonce col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <h1>Annonce Taxi</h1>
     <div style="text-align: center; font-weight: bold;">
 <p class="white">Grâce à la géolocalisation de votre taxi, des clients pourront visualiser votre position et faire appel à vous</p>
     </div>
       
        <!-- TRAJET UNIQUE -->
        <!-- TRAJET UNIQUE -->
        <div class="trajet_unique_form col-xs-12 is-open">
            {{ form_start(form, {'attr':{'ng-controller':'taxiAjoutCtrl'}}) }}
                <div class="bloc_info row">
                    <h2>Informations sur le trajet</h2>

                    {{ form_label(form.nom, "Nom du taxi", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}


                    {{ form_label(form.ville, "Ville", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(form.ville) }}
                    <input type="text" id="from" name="from" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='place' ng-change="loadPlace('ville')" required="required"   />


                    {{ form_label(form.telephone, "Téléphone portable", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(form.telephone) }}
                    {{ form_widget(form.telephone, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}


                    {{ form_label(form.immatriculation, "Immatriculation du véhicule", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(form.immatriculation) }}
                    {{ form_widget(form.immatriculation, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}
                </div>
                
                <div class="bloc_info row">
                    <h2>Horaires de service</h2>

                    <div class="info_important col-xs-12" for="annonce_prix">Les horaires correspondent au temps où souhaitez que l'annonce soit visible.</div>


                    {{ form_label(form.heureDebut, "Heure de début", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(form.heureDebut) }}
                    {{ form_widget(form.heureDebut, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}


                    {{ form_label(form.heureFin, "Heure de fin", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(form.heureFin) }}
                    {{ form_widget(form.heureFin, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}
                    
                </div>
                <div class="bloc_info detail row">
                    <h2>Détails concernant le trajet</h2>
                    <div class="detail_sub_bloc row">
                        <h3>Couleur du véhicule</h3>
                        {{ form_errors(form.couleur) }}
                        {% for i in 0..form.couleur|length-2 %}
                        <div class="row">
                            {{ form_widget(form.couleur[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.couleur[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row">
                        <h3>Wifi à bord</h3>
                        {{ form_errors(form.wifi) }}
                        {% for i in 0..form.wifi|length-2 %}
                        <div class="row">
                            {{ form_widget(form.wifi[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.wifi[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row">
                        <h3>GreenCab</h3>
                        {{ form_errors(form.greencab) }}
                        {% for i in 0..form.greencab|length-2 %}
                        <div class="row">
                            {{ form_widget(form.greencab[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.greencab[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row">
                        <h3>Paiement accepté</h3>
                        {{ form_errors(form.paiements) }}
                        {% for i in 0..form.paiements|length-2 %}
                        <div class="row">
                            {{ form_widget(form.paiements[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.paiements[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row">
                        <h3>Facture</h3>
                        {{ form_errors(form.facture) }}
                        {% for i in 0..form.facture|length-2 %}
                        <div class="row">
                            {{ form_widget(form.facture[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.facture[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="detail_sub_bloc row">
                        <h3>Siège Bébé ?</h3>
                        {{ form_errors(form.siegeBebe) }}
                        {% for i in 0..form.siegeBebe|length-2 %}
                        <div class="row">
                            {{ form_widget(form.siegeBebe[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.siegeBebe[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="detail_sub_bloc row">
                        <h3>Agrée sécurité sociale ?</h3>
                        {{ form_errors(form.secuSocial) }}
                        {% for i in 0..form.secuSocial|length-2 %}
                        <div class="row">
                            {{ form_widget(form.secuSocial[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.secuSocial[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="detail_sub_bloc row">
                        <h3>Animaux acceptés ?</h3>
                        {{ form_errors(form.animaux) }}
                        {% for i in 0..form.animaux|length-2 %}
                        <div class="row">
                            {{ form_widget(form.animaux[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(form.animaux[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="bloc_info row">
                    <h2>Tarif</h2>
                    <div class="info_important col-xs-12" for="annonce_prix">Le prix correspond au prix par personne ou par kilomètre.</div>
                </div>

                <div class="bloc_info row">
                    {{ form_label(form.tarifJour, "Tarif de jour", {'label_attr':{'class':'col-xs-12 col-sm-5',
                    'ng-hide':'typeTarif == "Au compteur"'}})}}
                    {{ form_errors(form.tarifJour) }}
                    {{ form_widget(form.tarifJour, {'attr':{'class':'connexion_input col-xs-12 col-sm-5', 
                    'ng-hide':'typeTarif == "Au compteur"'}})}}
                </div>

                <div class="bloc_info row">
                    {{ form_label(form.tarifNuit, "Tarif de nuit", {'label_attr':{'class':'col-xs-12 col-sm-5',
                    'ng-hide':'typeTarif == "Au compteur"'}})}}
                    {{ form_errors(form.tarifNuit) }}
                    {{ form_widget(form.tarifNuit, {'attr':{'class':'connexion_input col-xs-12 col-sm-5',
                    'ng-hide':'typeTarif == "Au compteur"'}})}}
                </div>

                <div class="bloc_info row">
                    {{ form_label(form.typeTarif, "Type de tarif", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(form.typeTarif) }}
                    {{ form_widget(form.typeTarif, {'attr':{'class':'connexion_input col-xs-5', 
                    'ng-model':'typeTarif', 'ng-init':'typeTarif="Au compteur"'}})}}
                </div>

                <div class="bloc_info row">
                    {{ form_label(form.nbPlaces, "Nombres de places", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(form.nbPlaces) }}
                    {{ form_widget(form.nbPlaces, {'attr':{'class':'connexion_input col-xs-5'}})}}
                </div>

{#                     {{ form_label(form.urgent, "Signaler mon annonce Urgent (Cout : 5€)", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(form.urgent) }}
                    {{ form_widget(form.urgent, {'attr':{'class':'col-xs-5'}})}} #}

                </div>
{#                  <div class="bloc_info row">
                    <h2>Forfaits aéroports et gares</h2>
                    
                    <label class="col-xs-12 col-sm-5" for="annonce_prix">Forfait 1</label>
                    <input type="text" id="annonce_prix" name="annonce_prix" class="connexion_input col-xs-12 col-sm-5  " placeholder="Exp: Paris rive droite => Roissy CDG: 55€">
                    <label class="col-xs-12 col-sm-5" for="annonce_prix">Forfait 2</label>
                    <input type="text" id="annonce_prix" name="annonce_prix" class="connexion_input col-xs-12 col-sm-5  " placeholder="Paris rive gauche => Roissy CDG: 50€">
                    <label class="col-xs-12 col-sm-5" for="annonce_prix">Forfait 3</label>
                    <input type="text" id="annonce_prix" name="annonce_prix" class="connexion_input col-xs-12 col-sm-5  " placeholder="Paris rive droite => Orly: 60€">
                    <label class="col-xs-12 col-sm-5" for="annonce_prix">Forfait 4</label>
                    <input type="text" id="annonce_prix" name="annonce_prix" class="connexion_input col-xs-12 col-sm-5  " placeholder="Paris rive gauche => Orly : 50€">
                    

                </div> #}
                <div class="bloc_info info_complementaire row">
                    <h2>Informations complémentaires</h2>
                    {{ form_label(form.infosdivers, "Vous pouvez indiquez aux personnes des informations complémentaires, comme un lieu de rendez-vous plus précis, ou encore les lieux que vous pouvez desservir, etc.. ", {'label_attr':{'class':'col-xs-12'}})}}
                    {{ form_errors(form.infosdivers) }}
                    {{ form_widget(form.infosdivers, {'attr':{'class':'connexion_input col-xs-12'}})}}
                </div>
                <div class="bloc_info row">
                    {{ form_widget(form.save, {'attr': {'class': 'connexion_submit col-xs-12 col-sm-offset-8 col-sm-4'}}) }}
                </div>
                <div style="display:none">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
        </div>
        <!-- FIN TRAJET UNIQUE -->
        <!-- FIN TRAJET UNIQUE -->
        
    </div>
    <!-- FIN CONTENT -->
{% endblock %}

