{% extends "::base.html.twig" %}

{% block title %}Annonce de covoiturage{% endblock %}


{% block angular %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/application/js/Controllers/covoiturageCtrl.js') }}"></script>
{% endblock %}


{% block body %}
    <!-- CONTENT -->
    <!-- MODAL DE CHOIX -->
    <div class="inscription_form modal_connexion_container creer_annonce col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
        <h1>Annonce de covoiturage</h1>
       <!-- <p class="info_creation col-xs-12 col-sm-8 col-sm-offset-2">
            N'oublies pas de selectionner la catégorie souhaitée. Si tu as besoins d'informations pour savoir comment publier une annonce, regardes ce <a href="template_info_comment.html">tutoriel</a>
        </p>-->
        <!-- Systeme de menu choix -->
        <div class="trajet_selector_container col-xs-12 row">
            <li class="is-selected trajet_unique col-xs-6">Trajet Unique</li>
            <li class="col-xs-6 trajet_regulier">Trajet Régulier</li>
        </div>
        <!-- FIN Systeme de menu choix -->

        <!-- TRAJET UNIQUE -->
        <!-- TRAJET UNIQUE -->
        <div class="trajet_unique_form col-xs-12 is-open">
            <h1>Trajet unique</h1>
            {{ form_start(formUnique, {'attr':{'ng-controller':'covoiturageAjoutCtrl', 'id':'formUnique'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(formUnique) }}

                <div class="bloc_info row">
                    <h2>Votre trajet</h2>
                    {{ form_label(formUnique.depart, "Départ", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formUnique.depart) }}
                    <input type="text" id="uniqueDepart" name="uniqueDepart" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeUnique.depart' ng-change="loadPlaceUnique('depart')"  />


                    {{ form_label(formUnique.rendezVous, "Rendez-vous", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formUnique.rendezVous) }}
                    <input type="text" id="uniqueRendezVous" name="uniqueRendezVous" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeUnique.rendezVous' ng-change="loadPlaceUnique('rendezVous')"  />


                    {{ form_label(formUnique.arrivee, "Arrivée", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formUnique.arrivee) }}
                    <input type="text" id="uniqueArrivee" name="uniqueArrivee" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeUnique.arrivee' ng-change="loadPlaceUnique('arrivee')"  />


                    {{ form_label(formUnique.depot, "Dépot", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formUnique.depot) }}
                    <input type="text" id="uniqueDepot" name="uniqueDepot" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeUnique.depot' ng-change="loadPlaceUnique('depot')"  />

                </div>
                <div class="bloc_info row">
                    <h2>Date et heure</h2>
                    {{ form_label(formUnique.dateUnique, "Date", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formUnique.dateUnique) }}
                    {{ form_widget(formUnique.dateUnique, {'attr':{'class':'connexion_input col-xs-12 col-sm-8 datepicker'}})}}


                    {{ form_label(formUnique.heureUnique, "Heure", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formUnique.heureUnique) }}
                    {{ form_widget(formUnique.heureUnique, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}

                     <!-- <div class="info_important col-xs-12" for="annonce_prix">Si il s'agit d'une annonce taxi ou VTC, le prix correspond au prix par personne par kilomètre.</div>-->
                </div>
                <div class="bloc_info detail row">
                    <h2>Détails concernant le trajet</h2>
                    <div class="detail_sub_bloc row">
                        <h3>Bagages autorisés</h3>
                        {{ form_errors(formUnique.bagages) }}
                        {% for i in 0..formUnique.bagages|length-1 %}
                        <div class="row">
                            {{ form_widget(formUnique.bagages[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(formUnique.bagages[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row">
                        <h3>Préférences</h3>
                        {{ form_errors(formUnique.preferences) }}
                        {% for i in 0..formUnique.preferences|length-1 %}
                        <div class="row">
                            {{ form_widget(formUnique.preferences[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(formUnique.preferences[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="bloc_info row">
                    {{ form_label(formUnique.repondSous, "Je part à", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formUnique.repondSous) }}
                    {{ form_widget(formUnique.repondSous, {'attr':{'class':'connexion_input col-xs-12 col-sm-5'}})}}
                </div>
                <div class="bloc_info row">
                    {{ form_label(formUnique.autoroute, "Je prend l'autoroute", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formUnique.autoroute) }}
                    {{ form_widget(formUnique.autoroute, {'attr':{'class':'connexion_input col-xs-12 col-sm-5'}})}}
                </div>


                <div class="bloc_info row">
                    <h2>Tarif</h2>
                    {{ form_label(formUnique.cout, "Coût du trajet", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formUnique.cout) }}
                    {{ form_widget(formUnique.cout, {'attr':{'class':'connexion_input col-xs-12 col-sm-5'}})}}
                </div>
                <div class="bloc_info row">
                    {{ form_label(formUnique.nbPlaces, "Nombres de places", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formUnique.nbPlaces) }}
                    {{ form_widget(formUnique.nbPlaces, {'attr':{'class':'col-xs-5'}})}}

                </div>



                <div class="bloc_info info_complementaire row">
                    <h2>Informations complémentaires</h2>

                    {{ form_label(formUnique.infosdivers, "Vous pouvez indiquez aux personnes des informations complémentaires, comme un lieu de rendez-vous plus précis, ou encore les lieux que vous pouvez desservir, etc.. ", {'label_attr':{'class':'col-xs-12'}})}}
                    {{ form_errors(formUnique.infosdivers) }}
                    {{ form_widget(formUnique.infosdivers, {'attr':{'class':'connexion_input col-xs-12'}})}}
                </div>
                <div class="bloc_info row">
                    {{ form_widget(formUnique.save, {'attr': {'class': 'connexion_submit col-xs-12 col-sm-offset-8 col-sm-4'}}) }}
                </div>
            <div style="display:none">{{ form_rest(formUnique) }}</div>
            {{ form_end(formUnique) }}
        </div>
        <!-- FIN TRAJET UNIQUE -->
        <!-- FIN TRAJET UNIQUE -->
        
        <!-- TRAJET REGULIER -->
        <!-- TRAJET REGULIER -->
        <div class="trajet_regulier_form col-xs-12">
            <h1>Trajet regulier</h1>
                {{ form_start(formRegulier, {'attr':{'ng-controller':'covoiturageAjoutCtrl', 'id':'formRegulier'}}) }}
                <div class="bloc_info detail row">
                    <h2>Votre rôle</h2>
                    {{ form_errors(formRegulier.role) }}
                    {% for i in 0..formRegulier.role|length-1 %}
                    <div class="row">
                        {{ form_widget(formRegulier.role[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}}) }}
                        {{ form_label(formRegulier.role[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}}) }}
                    </div>
                    {% endfor %}
                </div>
                <div class="bloc_info row">
                    <h2>Votre trajet</h2>
                    {{ form_label(formRegulier.depart, "Départ", {'label_attr':{'class':'col-xs-12 col-sm-4'}}) }}
                    {{ form_errors(formRegulier.depart) }}
                    <input type="text" id="regulierDepart" name="regulierDepart" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeRegulier.depart' ng-change="loadPlaceRegulier('depart')" required="required"   />


                    {{ form_label(formRegulier.rendezVous, "Rendez-vous", {'label_attr':{'class':'col-xs-12 col-sm-4'}}) }}
                    {{ form_errors(formRegulier.rendezVous) }}
                    <input type="text" id="regulierRendezVous" name="regulierRendezVous" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeRegulier.rendezVous' ng-change="loadPlaceRegulier('rendezVous')" required="required"   />


                    {{ form_label(formRegulier.arrivee, "Arrivée", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formRegulier.arrivee) }}
                    <input type="text" id="regulierArrivee" name="regulierArrivee" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeRegulier.arrivee' ng-change="loadPlaceRegulier('arrivee')" required="required"   />


                    {{ form_label(formRegulier.depot, "Dépot", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                    {{ form_errors(formRegulier.depot) }}
                    <input type="text" id="regulierDepot" name="regulierDepot" class="connexion_input col-xs-12 col-sm-8" placeholder="De" g-places-autocomplete options="autocompleteOptions" force-selection="true" ng-model='placeRegulier.depot' ng-change="loadPlaceRegulier('depot')" required="required"   />
                </div>
                <div class="bloc_info detail row">
                    <div class="detail_sub_bloc row gestion_jours_container">
                    <h2>Jours</h2>
                    <p>Précisez les jours durant lesquels vous effecturez un covoiturage (cochez les cases)</p>
                    <!-- Systeme de CHECKBOX POUR LE CHOIX DES JOURS (attention) -->
                        <div class="liste_jour col-sm-12 col-xs-4">
                            <div class="col-sm-offset-2 col-sm-1">Lun</div>
                            <div class="col-sm-1 col-xs-12">Mar</div>
                            <div class="col-sm-1 col-xs-12">Mer</div>
                            <div class="col-sm-1 col-xs-12">Jeu</div>
                            <div class="col-sm-1 col-xs-12">Ven</div>
                            <div class="col-sm-1 col-xs-12">Sam</div>
                            <div class="col-sm-1 col-xs-12">Dim</div>
                        </div>
                        <div class="aller col-sm-12 col-xs-4">
                            <p class="col-sm-2 col-xs-12">Aller</p>
                            {{ form_errors(formRegulier.jours_aller) }}
                            {% for i in 0..formRegulier.jours_aller|length-1 %}
                            {{ form_widget(formRegulier.jours_aller[i]) }}
                            {{ form_label(formRegulier.jours_aller[i], ' ', {'label_attr':{'class':'col-sm-1 col-xs-12'}}) }}
                            {% endfor %}

                        </div>
                        <div class="retour col-sm-12 col-xs-4">
                            <p class="col-sm-2">Retour</p>
                            {{ form_errors(formRegulier.jours_retour) }}
                            {% for i in 0..formRegulier.jours_retour|length-1 %}
                            {{ form_widget(formRegulier.jours_retour[i]) }}
                            {{ form_label(formRegulier.jours_retour[i], ' ', {'label_attr':{'class':'col-sm-1 col-xs-12'}}) }}
                            {% endfor %}
                        </div>
                    <!-- FIN Systeme de CHECKBOX POUR LE CHOIX DES JOURS (attention) -->
                    </div>
                    <div class="detail_sub_bloc row">
                    <h2>Flexibilité</h2>
                        {{ form_errors(formRegulier.flexibilite) }}
                        {% for i in 0..formRegulier.flexibilite|length-1 %}
                        <div class="row">
                            {{ form_widget(formRegulier.flexibilite[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(formRegulier.flexibilite[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}}) }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row horaires">
                        <h2>Horaires</h2>
                        {{ form_label(formRegulier.heureAller, "Heure Aller", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                        {{ form_errors(formRegulier.heureAller) }}
                        {{ form_widget(formRegulier.heureAller, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}

                        {{ form_label(formRegulier.heureRetour, "Heure Retour", {'label_attr':{'class':'col-xs-12 col-sm-4'}})}}
                        {{ form_errors(formRegulier.heureRetour) }}
                        {{ form_widget(formRegulier.heureRetour, {'attr':{'class':'connexion_input col-xs-12 col-sm-8'}})}}

                    </div>
                </div>


                <div class="bloc_info detail row">
                    <h2>Détails concernant le trajet</h2>
                    <div class="detail_sub_bloc row">
                        <h3>Bagages autorisés</h3>
                        {{ form_errors(formRegulier.bagages) }}
                        {% for i in 0..formRegulier.bagages|length-1 %}
                        <div class="row">
                            {{ form_widget(formRegulier.bagages[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(formRegulier.bagages[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="detail_sub_bloc row">
                        <h3>Préférences</h3>
                        {{ form_errors(formRegulier.preferences) }}
                        {% for i in 0..formRegulier.preferences|length-1 %}
                        <div class="row">
                            {{ form_widget(formRegulier.preferences[i], {'attr':{'class':'connexion_input col-xs-2 col-sm-1'}})}}
                            {{ form_label(formRegulier.preferences[i], "", {'label_attr':{'class':'col-xs-10 col-sm-11'}})}}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="bloc_info row">
                    {{ form_label(formRegulier.repondSous, "Je part à", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formRegulier.repondSous) }}
                    {{ form_widget(formRegulier.repondSous, {'attr':{'class':'connexion_input col-xs-12 col-sm-5'}})}}
                </div>

                <div class="bloc_info row">
                    {{ form_label(formRegulier.autoroute, "Je prend l'autoroute", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formRegulier.autoroute) }}
                    {{ form_widget(formRegulier.autoroute, {'attr':{'class':'connexion_input col-xs-12 col-sm-5'}})}}
                </div>

                
                <div class="bloc_info row">
                    <h2>Tarif</h2>
                    
                    {{ form_label(formRegulier.cout, "Coût du trajet", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formRegulier.cout) }}
                    {{ form_widget(formRegulier.cout, {'attr':{'class':'connexion_input col-xs-12 col-sm-5'}})}}
                </div>

                <div class="bloc_info row">
                    {{ form_label(formRegulier.nbPlaces, "Nombres de places", {'label_attr':{'class':'col-xs-12 col-sm-5'}})}}
                    {{ form_errors(formRegulier.nbPlaces) }}
                    {{ form_widget(formRegulier.nbPlaces, {'attr':{'class':'col-xs-5'}})}}

                </div>
                <div class="bloc_info info_complementaire row">
                    <h2>Informations complémentaires</h2>

                    {{ form_label(formRegulier.infosdivers, "Vous pouvez indiquez aux personnes des informations complémentaires, comme un lieu de rendez-vous plus précis, ou encore les lieux que vous pouvez desservir, etc.. ", {'label_attr':{'class':'col-xs-12'}})}}
                    {{ form_errors(formRegulier.infosdivers) }}
                    {{ form_widget(formRegulier.infosdivers, {'attr':{'class':'connexion_input col-xs-12'}})}}
                </div>
                <div class="bloc_info row">
                    {{ form_widget(formRegulier.save, {'attr': {'class': 'connexion_submit col-xs-12 col-sm-offset-8 col-sm-4'}}) }}
                </div>
            <div style="display:none">{{ form_rest(formRegulier) }}</div>
            {{ form_end(formRegulier) }}
        </div>
        <!-- FIN TRAJET REGULIER -->
        <!-- FIN TRAJET REGULIER -->
    </div>
    <!-- FIN CONTENT -->
{% endblock %}




